body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background: rgba(0,0,0,0.3) url("../images/hospital.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
}

h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    -webkit-text-stroke: 3px black;
    padding-top: 1em;
}

.navbar-custom {
    background-color: rgb(252, 184, 125);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
            color: white;
            font-family: 'Lato', sans-serif;
            -webkit-text-stroke: 0.8px black;
            font-size: 2.5em;
        }

.navbar a {
    float: left;
    width: 25%;
    text-align: center;
    margin-right: 0em;
}

.navbar a:hover {
    background-color: rgb(221, 139, 72);
    transition: .3s ease-in-out;
  }

#main-navbar {
    padding-top: 0em;
    padding-bottom: 0em;
}

.btn {
    border-radius: 12px;
    background-color:rgb(252, 184, 125) !important;
    border: 2px solid rgb(221, 139, 72) !important;
    -webkit-text-stroke: 0.7px black;
    font-family: 'Lato', sans-serif;
    font-size: 30px !important;
}

.btn:hover {
    background-color: rgb(221, 139, 72) !important;
}

.button {
    text-align: center;
    padding-top: 5em;
}

.buttonp {
    text-align: center;

}

label {
    display: inline-block;
    width: 250px;
    text-align: left;
    font-size: 20px;
}

select {
    display: inline-block;
    width: 50px;
}

input {
    width: 50px;
}

.transbox {
    background-color: rgba(215, 226, 228, 0.7);
    border: 1px solid black;
}

form {
    text-align: center;
}

