<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-custom" id="main-navbar">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="about.html">About</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="insights.html">Insight</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>             
          </nav>
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="transbox">
                        <p>
                                This prediction model was made using a data set found on kaggle.com, originally from a Analytics Vidhya Hackathon on Healthcare Analytics. 
                            After cleaning the data in Google Colaboratory, building the model with Tensorflow, and fitting the model with the data, 
                            it was able to predict the length of a hospital stay with about 42% accuracy. The main limitations were the size of the data set as well as
                            little to no documentation on the meaning of the values. Nevertheless, if a user hypothetically had access to all of the information required,
                            they could use this model to make a predication. This could be useful for a patient's own knowledge and efficiency in selecting a hospital, or
                            for hospital staff to keep track of and make decisions for their patients.
                            <br>
                            <br>
                            <br>
                            <h5 style="text-align: center;">Key:</h5>
                            <br>
                            <p style="text-align: center;">Hospital Code: Unique identifier for the hospital
                            <br>
                            Hospital Type Code: Unique identifier for the type of hospital
                            <br>
                            Hospital City Code: City code for the hospital
                            <br>
                            Region Code: Region code for the hospital
                            <br>
                            Extra Rooms Available: Number of extra rooms available
                            <br>
                            Department: Department handling the patient
                            <br>
                            Ward Type: Code for the type of ward
                            <br>
                            Ward Facility Code: Code for the facility of the ward
                            <br>
                            Bed Grade: Condition of Bed
                            <br>
                            Patient City Code: City code for the patient
                            <br>
                            Type of Admission: Description of patient's admission
                            <br>
                            Severity of Illness: Severity of Illness at time of admission
                            <br>
                            Visitors with Patient: Number of visitors patient has
                            <br>
                            Age: Age of patient
                            <br>
                            Admission Deposit: Amount deposited for stay at time of admission
                            </p>
                            <br>
                            <br>
                            <p style="text-align: center;">Made by Will Cutrone, Stephen Domke, Mona Peteet, and Tom Babjak</p>


                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>