<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-custom" id="main-navbar">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="about.html">About</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="insights.html">Insight</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>             
          </nav>
        <div class="bg">
            <div class="container">
                <div class="row">

                    <div class='tableauPlaceholder' id='viz1622308904874' style='position: relative' style="text-align: center"><noscript>
                        <a href='#'><img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;DataViz_Final_16214744598690&#47;Story1&#47;1_rss.png' style='border: none' /></a>
                    </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='DataViz_Final_16214744598690&#47;Story1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;DataViz_Final_16214744598690&#47;Story1&#47;1.png' />
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                        <param name='language' value='en-US' /></object>
                    </div>                
                        <script type='text/javascript'>                    
                            var divElement = document.getElementById('viz1622308904874');                    
                            var vizElement = divElement.getElementsByTagName('object')[0];                    
                            vizElement.style.width='1016px';vizElement.style.height='991px';                    
                            var scriptElement = document.createElement('script');                    
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                        </script>
                        </div>
                    </div>
                </div>
            </body>
        </html>